<html>
    <title> Startup Funding </title>
    <body>
        <div align="center">
            <h1> Login </h1>
            <p><%= error%></p>
            <form action= "/" method="POST">
                <table>
                    <tr>
                        <td>
                            <label> User Id:</label>
                        </td>
                        <td>
                            <input type="text" name="uid"></input><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label> Password:</label>
                        </td>
                        <td>
                            <input type="password" name="pass"></input><br><br>
                        </td>
                    </tr>
                </table>
                <input type="submit" value="Login"></input>
            </form>
        </div>
    </body>
</html>